<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="row justify-content-center my-5">
        <div class="col-md-6 text-center">
          <h2 class="display-4 special-heading">学期管理</h2>
        </div>
      </div>
      <form class="form-inline" (submit)="fetchTerms()">
        <div class="form-group">
          <label for="school">学校名称：</label>
          <select id="school" name="school_id" [(ngModel)]="selectedSchoolId" class="form-control" style="width:auto">
            <option *ngFor="let school of schools" [value]="school.id">
              {{ school.school }}
            </option>
          </select>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <label for="term">学期：</label>
          <input id="term" name="term" type="text" class="form-control" placeholder="学期..." [(ngModel)]="termFilter">
          &nbsp;&nbsp;&nbsp;&nbsp;
          <button type="submit" class="btn btn-outline-success">&nbsp;查询</button>
          <a routerLink="/term/add" class="btn btn-primary" style="margin-left: auto;">&nbsp;增加</a>
        </div>
      </form>
    </div>
  </div>
  <br><br>
  <table class="table table-hover table-bordered">
    <thead class="thead-light">
    <tr class="info">
      <th>序号</th>
      <th>学校名称</th>
      <th>学期</th>
      <th>开始时间</th>
      <th>结束时间</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let term of terms; let i = index">
      <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
      <td>{{ term.school.school }}</td>
      <td>{{ term.term }}</td>
      <td>{{ term.start_time }}</td>
      <td>{{ term.end_time }}</td>
      <td>
        <a class="btn btn-sm btn-primary" [routerLink]="['/term/edit', term.id]">
          &nbsp;编辑
        </a>&nbsp;
        <a class="btn btn-danger btn-sm" (click)="onDelete(term.id)">
          &nbsp;删除
        </a>
      </td>
    </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item dropdown">
        <a class="dropdown-toggle dropdown-item" href="#" id="pageSizeDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ pageSize }} 条
        </a>
        <div class="dropdown-menu" aria-labelledby="pageSizeDropdown">
          <a class="dropdown-item" href="#" (click)="onPageSizeChange($event)">5 条</a>
          <a class="dropdown-item" href="#" (click)="onPageSizeChange($event)">10 条</a>
          <a class="dropdown-item" href="#" (click)="onPageSizeChange($event)">20 条</a>
        </div>
      </li>
      <li class="page-item"><a class="page-link" href="#" (click)="onChangePage(1)">首页</a></li>
      <li class="page-item" *ngIf="currentPage > 1">
        <a class="page-link" href="#" (click)="onChangePage(currentPage - 1)">上一页</a>
      </li>
      <li class="page-item" *ngFor="let page of getPageNumbers()" [class.active]="currentPage === page">
        <a class="page-link" href="#" (click)="onChangePage(page)">{{ page }}</a>
      </li>
      <li class="page-item" *ngIf="currentPage < totalPages">
        <a class="page-link" href="#" (click)="onChangePage(currentPage + 1)">下一页</a>
      </li>
      <li class="page-item"><a class="page-link" href="#" (click)="onChangePage(totalPages)">尾页</a></li>
    </ul>
  </nav>
</div>
