<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="row justify-content-center my-5">
        <div class="col-md-6 text-center">
          <h2 class="display-4 special-heading" style="font-size: 50px;">学期管理</h2>
        </div>
      </div>
      <form class="form-inline" (submit)="onSubmit()" [formGroup]="formGroup" >
        <div class="form-group">
          <app-school-selector formControlName="school_id" [showAllOption]="showAllSchoolsInSearch"></app-school-selector>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <label for="term">学期：</label>
          <input id="term" name="term" type="text" class="form-control" placeholder="请您输入学期的名称" formControlName="semester_name">
          &nbsp;&nbsp;&nbsp;&nbsp;
          <button type="submit" class="btn btn-outline-success">&nbsp;<i class="fas fa-search"></i>查询</button>
          <a class="btn btn-primary" style="margin-left: 20px;" [routerLink]="'add'"><i class="fas fa-plus"></i>增加</a>
        </div>
      </form>
    </div>
  </div>
  <br><br>
  <table class="table table-hover table-bordered">
    <thead class="thead-light">
    <tr class="info">
      <th>序号</th>
      <th>学校名称</th>
      <th>学期</th>
      <th>开始时间</th>
      <th>结束时间</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let semester of semesters; index as index">
        <td>{{index + 1}}</td>
        <td>{{semester.school_name}}</td>
        <td>{{semester.name}}</td>
        <td>{{semester.start_time}}</td>
        <td>{{semester.end_time}}</td>
        <td>
          <a class="btn btn-primary" [routerLink]="'edit/' + semester.id">
            <i class="fas fa-pen"></i>编辑
          </a>&nbsp;
          <a class="btn btn-danger" (click)="onDelect(semester.id)">
            <i class="far fa-trash-alt"></i>删除
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- 分页组件开始 -->
  <nav aria-label="Page navigation example" [ngStyle]="{'visibility': pageData.totalPages > 1 ? 'visible' : 'hidden'}">
    <ul class="pagination col-md-auto">
      <li [ngClass]="{disabled: pageData.first}" class="page-item"><span class="page-link" (click)="onPreviousPage()">上一页</span></li>
      <li *ngFor="let p of pages" [ngClass]="{active: pageData.currentPage === p}" class="page-item">
        <span class="page-link" (click)="onPageChange(p)">{{p}}</span>
      </li>
      <li [ngClass]="{disabled: pageData.last}" class="page-item"><span class="page-link" (click)="onNextPage()">下一页</span></li>
    </ul>
  </nav>
  <!-- 分页组件结束 -->
</div>
