<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="row justify-content-center my-3">
        <div class="col-md-6 text-center">
          <h2 class="display-4 special-heading" style="font-size: 50px;">班级管理</h2>
        </div>
      </div>
      <form class="form-inline" (ngSubmit)="false"> <!-- 禁用默认的表单提交行为 -->
        <label for="schoolSelect">学校名称：</label>
        <div class="form-group">
          <select id="schoolSelect" name="school_id" class="form-control" (change)="onChangeSchool($event)">
            <option value="">所有学校</option>
            <option *ngFor="let school of schools" [value]="school.id" [selected]="school.id === selectedSchoolId">
              {{ school.name }}
            </option>
          </select>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <label for="clazzInput">班级名称：</label>
          <input id="clazzInput" name="clazz" type="text" class="form-control" [(ngModel)]="clazzFilter" placeholder="请您输入班级的名称">
          &nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-outline-success" (click)="handleQuery()"><i class="fas fa-search"></i>查询</button>
          <a (click)="openAddClazzDialog()" class="btn btn-primary" style="margin-left: 20px;"><i class="fas fa-plus"></i>增加</a>
        </div>
      </form>
    </div>
  </div>
  <br><br>
  <table class="table table-hover table-bordered">
    <thead class="thead-light">
    <tr class="info">
      <th>序号</th>
      <th>学校名称</th>
      <th>班级名称</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let clazz of clazzes; let i = index">
      <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
      <td>{{ clazz.schoolName }}</td>
      <td>{{ clazz.name }}</td>
      <td>
        <button (click)="openEditClazzDialog(clazz)" class="btn btn-primary">
          <i class="fas fa-pen"></i>编辑
        </button>&nbsp;
        <a class="btn btn-danger" (click)="onDelete(clazz.id)">
          <i class="glyphicon glyphicon-trash"></i><i class="far fa-trash-alt"></i>删除
        </a>
      </td>
    </tr>
    </tbody>
  </table>
  <ng-container *ngIf="totalItems > 5">
    <app-pagination [currentPage]="currentPage"
                    [pageSize]="pageSize"
                    [totalPages]="totalPages"
                    (pageChanged)="handlePageChange($event)">
    </app-pagination>
  </ng-container>
</div>
