<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="row justify-content-center my-3">
        <div class="col-md-6 text-center">
          <h2 class="display-4 special-heading">学校管理</h2>
        </div>
      </div>
      <form class="form-inline" (ngSubmit)="filterSchools(schoolFilter)">
        <div class="form-group">
          <label for="schoolFilter">学校名称：</label>
          <input type="text" id="schoolFilter" [(ngModel)]="schoolFilter" name="schoolFilter" class="form-control" placeholder="请您输入要搜索的学校的名称">
          <button type="button" class="btn btn-outline-success" style="margin-left: 20px" (click)="filterSchools(schoolFilter)">搜索</button>
          <button type="button" class="btn btn-primary" style="margin-left: 20px" (click)="openAddSchoolDialog()">增加</button>
        </div>
      </form>
    </div>
  </div>
  <br><br>
  <table class="table table-hover table-bordered">
    <thead class="thead-light">
    <tr class="info">
      <th>序号</th>
      <th>学校名称</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let school of schools.slice(start, end); let i = index">
      <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
      <td>{{ school.name }}</td>
      <td>
        <button (click)="openEditSchoolDialog(school)" class="btn btn-info">编辑</button>  &nbsp;
        <app-delete [schoolId]="school.id" (onDeleteSuccess)="fetchSchools()"></app-delete>
      </td>
    </tr>
    </tbody>
  </table>
  <app-pagination [currentPage]="currentPage"
                  [pageSize]="pageSize"
                  [totalPages]="totalPages"
                  (pageChanged)="handlePageChange($event)">
  </app-pagination>
</div>
