<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="row justify-content-center my-3">
        <div class="col-md-6 text-center">
          <h2 class="display-4 special-heading" style="font-size: 50px;">学校管理</h2>
        </div>
      </div>
      <form class="form-inline" (ngSubmit)="filterSchools(schoolFilter)">
        <div class="form-group">
          <label style="margin-right: 10px;">学校名称：</label>
          <input type="text" [(ngModel)]="schoolFilter" name="schoolFilter" class="form-control" placeholder="请您输入学校的名称">
          <button type="submit" class="btn btn-outline-success" style="margin-left: 20px"><i class="fas fa-search"></i>查询</button>
          <a (click)="openAddSchoolDialog()" class="btn btn-primary" style="margin-left: 20px"><i class="fas fa-plus"></i>增加</a>
        </div>
      </form>
    </div>
  </div>
  <br><br>
  <table class="table table-hover table-bordered">
    <thead class="thead-light">
    <tr class="info">
      <th>序号</th>
      <th>学校名称</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let school of schools.slice(start, end); let i = index">
      <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
      <td>{{ school.name }}</td>
      <td>
        <button (click)="openEditSchoolDialog(school)" class="btn btn-primary"><i class="fas fa-pen"></i>编辑</button>  &nbsp;
        <app-delete [schoolId]="school.id" (onDeleteSuccess)="fetchSchools()"></app-delete>
      </td>
    </tr>
    </tbody>
  </table>
  <ng-container *ngIf="schools.length >= 5">
    <app-pagination [currentPage]="currentPage"
                    [pageSize]="pageSize"
                    [totalPages]="totalPages"
                    (pageChanged)="handlePageChange($event)">
    </app-pagination>
  </ng-container>
</div>
