
<div class="top-bar">
  <div class="title">课程管理系统</div>
  <div class="name">用户名</div>
  <button class="logout" (click)="onLogout()">退出登录</button>
</div>

<div>
  <div class="sidebar">
    <ul>
      <li>
        <a>首页</a>
      </li>
        <li>
          <a >用户管理</a>
        </li>
        <li>
          <a>学校管理</a>
        </li>
        <li>
          <a>班级管理</a>
        </li>
        <li  >
          <a >学期管理</a>
        </li>
      <li>
        <a>课程管理</a>
      </li>
      <li>
        <a>课表查询</a>
      </li>
      <li>
        <a routerLink="/index/profile">个人中心</a>
      </li>
    </ul>
  </div>
  <!-- 主内容区样式 -->
</div>

