<div class="top-bar">
  <div class="title">课程管理系统</div>
  <div class="name">用户名：{{user_name}}</div>
  <button class="logout" (click)="onLogout()">退出登录</button>
</div>
<div>
  <div class="sidebar">
    <ul>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/']">
        <a>首页</a>
      </li>
      <li *ngIf="user_role!== 0" routerLinkActive="active" [routerLink]="['/user']">
        <a>用户管理</a>
      </li>
      <li *ngIf="user_role!== 0" routerLinkActive="active" [routerLink]="['/school_manage']">
        <a>学校管理</a>
      </li>
      <li *ngIf="user_role!== 0" routerLinkActive="active" [routerLink]="['/clazz_manage']">
        <a>班级管理</a>
      </li>
      <li *ngIf="user_role!== 0" routerLinkActive="active" [routerLink]="['/semester_manage']">
        <a>学期管理</a>
      </li>
      <li routerLinkActive="active" [routerLink]="['/course_manage']">
        <a>我的课程</a>
      </li>
      <li routerLinkActive="active" [routerLink]="['/timeTable']">
        <a>课表查询</a>
      </li>
      <li routerLinkActive="active" [routerLink]="['/schedule']">
        <a>行程表</a>
      </li>
      <li routerLinkActive="active" [routerLink]="['/profile']">
        <a>个人中心</a>
      </li>
    </ul>
  </div>
</div>

