<div class="container">
  <div class="main-content">
    <h1 class="text-center" style="font-size: 50px; margin-bottom: 50px">欢迎使用课表管理系统</h1>
    <p class="text-center" style="font-size: 30px; line-height: 2">这是一个为了方便管理课程表而设计的系统，它提供了一系列强大的功能，帮助您高效地组织和查看课程信息。</p>

    <!-- 主要功能模块展示 -->
    <div class="row" style="margin-bottom: 500px">
      <div class="col-md-4">
        <div class="text-center">
          <i class="material-icons feature-icon" style="transform: scale(1.5);">book</i>
          <h3 style="font-size: 30px">课程管理</h3>
          <p class="feature-description" style="font-size: 30px;line-height: 1.5">轻松添加、编辑和删除课程信息。您可以设置课程名称、时间等详细信息。</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center">
          <i class="material-icons feature-icon" style="transform: scale(1.5);">calendar_today</i>
          <h3 style="font-size: 30px">课表查看</h3>
          <p class="feature-description" style="font-size: 30px;line-height: 1.5">以直观的方式查看每周的课表安排。支持不同的视图模式，如总视图、个人视图等。</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center">
          <i class="material-icons feature-icon" style="transform: scale(1.5);">people</i>
          <h3 style="font-size: 30px">学生/教师管理</h3>
          <p class="feature-description" style="font-size: 30px;line-height: 1.5">管理与课程相关的学生和教师信息。可以进行修改信息、权限设置等操作。</p>
        </div>
      </div>
    </div>
    <p class="text-center" style="font-size: 25px;line-height: 1.5">使用我们的课表管理系统，让您的教学和学习安排更加有序和高效。</p>
  </div>
</div>
