<div class="main-content">
    <div class="mt-4 mb-4">
      <div class="row justify-content-center my-5"> <!-- 添加垂直间距 -->
        <div class="col-md-6 text-center"> <!-- 控制宽度并居中文本 -->
          <h2 class="display-4 special-heading">课表查询</h2>
        </div>
      </div>
      <div>
        <!-- 查询和增加按钮区域 -->
        <form class="form-inline"  (ngSubmit)="onSubmit()" >
          <!-- 学校-班级 -->
          <div class="form-group col-md-2">
              学校-班级：{{school_name}}-{{clazz_name}}
          </div>
          <!-- 学期 -->
          <div class="form-group">
            <label for="course">学期：</label>
            <select id="week" name="week" class="form-control" [(ngModel)]="data.semester_id">
              <ng-container *ngFor="let semester of semesters | keyvalue">
                <option [value]="semester.key">{{semester.value}}</option>
              </ng-container>
              <option *ngIf="data.semester_id === 0" [value]="0">当前暂无学期安排</option>
            </select>
          </div>
          <!-- 提交按钮 -->
          <div class="form-group col-md-2">
            <button type="submit" class="btn btn-outline-success">&nbsp;查询</button>
          </div>
        </form>
      </div>
    </div>
    <table class="table">
      <tr>
        <th class="th">时间</th>
          <th class="th">星期一<br>
          <th class="th">星期二<br>
          <th class="th">星期三<br>
          <th class="th">星期四<br>
          <th class="th">星期五<br>
          <th class="th">星期六<br>
          <th class="th">星期日<br>
      </tr>
      <tr *ngFor="let section of sectionNumber">
        <th class="th">
          <ng-container [ngSwitch]="section">
            <p *ngSwitchCase="1">8:30 - 10:05</p>
            <p *ngSwitchCase="2">10:25 - 12:00</p>
            <p *ngSwitchCase="3">14:00 - 15:35</p>
            <p *ngSwitchCase="4">15:55 - 17:30</p>
            <p *ngSwitchCase="5">18:40 - 20:15</p>
            <p *ngSwitchCase="6">20:20 - 21:05</p>
          </ng-container>
        </th>
        <ng-container *ngFor="let date of dateNumber">
          <td style="height: 158px;" class="td" id="monday-first">
            <ng-container *ngFor="let course of courses">
              <ng-container *ngIf="(course.date === date) && (course.section === section)">
                <p>{{course.name}}</p>
                <p>{{course.start_week}}&nbsp;--&nbsp;{{course.end_week}}周</p>
              </ng-container>
            </ng-container>
          </td>
        </ng-container>
      </tr>
    </table>
</div>
