<div class="main-content">
  <div class="row justify-content-center my-3">
    <div class="col-md-6 text-center">
      <h2 class="display-4 special-heading">个人中心</h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <table class="table table-bordered table-striped table-centered">
        <tbody>
        <tr>
          <th scope="row">姓名</th>
          <td>{{ user.name }}</td>
        </tr>
        <tr>
          <th scope="row">用户名</th>
          <td>{{ user.username }}</td>
        </tr>
        <tr>
          <th scope="row">角色</th>
          <td>{{ userRole }}</td>
        </tr>
        <tr>
          <th scope="row">班级</th>
          <td>{{ user.clazz }}</td>
        </tr>
        <tr>
          <th scope="row">学校</th>
          <td>{{ user.school }}</td>
        </tr>
        </tbody>
      </table>
      <button class="btn btn-primary" (click)="openModal()">修改密码</button>
    </div>
    <div class="col-md-4"></div>
  </div>

  <!-- 修改密码模态框 -->
  <div id="passwordModal" class="modal" *ngIf="modalVisible">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>修改密码</h2>
      <form #passwordForm="ngForm">
        <div class="form-group">
          <label for="currentPassword">当前密码:</label>
          <input type="password" id="currentPassword" name="currentPassword" ngModel required>
        </div>
        <div class="form-group">
          <label for="newPassword">新密码:</label>
          <input type="password" id="newPassword" name="newPassword" ngModel required>
        </div>
        <div class="form-group">
          <label for="confirmNewPassword">确认新密码:</label>
          <input type="password" id="confirmNewPassword" name="confirmNewPassword" ngModel required>
        </div>
        <div id="passwordAlert" class="alert" *ngIf="alertMessage">{{ alertMessage }}</div>
        <button type="button" (click)="submitChange(passwordForm)" class="btn btn-primary">确认修改</button>
      </form>
    </div>
  </div>
</div>
